<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	

	<!-- 配置dataSource -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/ssh" />
		<property name="user" value="root" />
		<property name="password" value="root" />
	</bean>


	<!-- 配置sessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<!-- <prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop> -->
				<prop key="hibernate.connection.autocommit">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/fc/model/Order.hbm.xml</value>
				<value>com/fc/model/OrderItem.hbm.xml</value>
				<value>com/fc/model/Category.hbm.xml</value>
				<value>com/fc/model/Product.hbm.xml</value>
				<value>com/fc/model/User.hbm.xml</value>
				<value>com/fc/model/Admin.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager"/>

	<!-- 配置dao -->
	<bean id="userDao" class="com.fc.dao.UserDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="categoryDao" class="com.fc.dao.CategoryDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="productDao" class="com.fc.dao.ProductDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="orderDao" class="com.fc.dao.OrderDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="adminDao" class="com.fc.dao.AdminDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- 配置service -->
	<bean id="userService" class="com.fc.service.UserService">
		<property name="userDao" ref="userDao" />
	</bean>
	<bean id="categoryService" class="com.fc.service.CategoryService">
		<property name="categoryDao" ref="categoryDao" />
	</bean>
	<bean id="productService" class="com.fc.service.ProductService">
		<property name="productDao" ref="productDao" />
	</bean>
	<bean id="orderService" class="com.fc.service.OrderService">
		<property name="orderDao" ref="orderDao" />
	</bean>
	<bean id="adminService" class="com.fc.service.AdminService">
		<property name="adminDao" ref="adminDao" />
	</bean>
	
	
	<!-- 配置action -->
	<bean id="userAction" class="com.fc.action.UserAction" scope="prototype">
		<property name="userService" ref="userService" />
		<property name="categoryService" ref="categoryService" />
		<property name="productService" ref="productService" />
	</bean>
	<bean id="categoryAction" class="com.fc.action.CategoryAction" scope="prototype">
		<property name="categoryService" ref="categoryService" />
	</bean>
	<bean id="productAction" class="com.fc.action.ProductAction" scope="prototype">
		<property name="productService" ref="productService" />
	</bean>
	<bean id="cartAction" class="com.fc.action.CartAction" scope="prototype">
		<property name="productService" ref="productService" />
	</bean>
	<bean id="orderAction" class="com.fc.action.OrderAction" scope="prototype">
		<property name="orderService" ref="orderService" />
	</bean>
	<bean id="adminAction" class="com.fc.action.AdminAction" scope="prototype">
		<property name="adminService" ref="adminService" />
		<property name="productService" ref="productService" />
		<property name="categoryService" ref="categoryService" />
		<property name="orderService" ref="orderService" />
	</bean>
</beans>



